.Input {
    width: 100%;
    margin: auto;
    padding: 15px 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
}

.Label {
    width: 150px;
    text-align: left;
    font-weight: bold;
    padding: 10px 0;
    display: block;
    margin-right: 10px;
}

.InputElement {
    outline: none;
    width: 100%;
    margin: auto;
    padding: 8px;
    font: inherit;
    font-size: 1.3rem;
    border: 1px solid #eee;
    display: block;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
}

.InputElement:focus {
    outline: none;
    background-color: #eee;
    box-shadow: 1px 2px 3px #e67e22;
}

.Invalid {
    background-color: rgba(250, 128, 114, 0.616);
}