.Burger {
    width: 100%;
    height: 250px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0;
}


@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 700px;
        height: 600px;
    }
}

.order {
    width: 15%;
    margin: auto;
    height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px auto;
}

@media (min-width: 500px) and (min-height: 400px) {
    .order {
        width: 90%px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .order {
        width: 95%;
        height: 200px;
    }
}

@media (min-width: 700px) and (min-height: 700px) {
    .order {
        width: 90%;
        height: 200px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .order {
        width: 80%;
        height: 100px;
        display: inline-block;
    }
}

@media (min-width: 1230px) and (min-height: 700px) {
    .order {
        width: 100%;
    }
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}







